:root {
	--color-text: #2c3e50;
	--color-red: #e74c3c;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	background-color: #f8f9fa;
	margin: 0;
	padding: 0;
}

/* Layout */
.layout {
	display: grid;
	grid-template-areas:
		"header header"
		"menu content";
	grid-template-columns: 280px 1fr;
	grid-template-rows: 110px 1fr;
	height: 100vh;
}

/* Header styles */
.header {
	grid-area: header;
	background-color: #ffffff;
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
	h1,
	h2 {
		font-size: 1.5rem;
		color: var(--color-text);
	}
	h2 {
		font-weight: 200;
		font-size: 1.2rem;
	}
}
.header-right {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.search-bar {
	display: flex;
	align-items: center;

	input {
		padding: 0.5rem 1rem;
		border: 1px solid #ddd;
		border-radius: 4px 0 0 4px;
		width: 300px;
	}

	button {
		padding: 0.5rem 1rem;
		background: var(--color-text);
		color: white;
		border: none;
		border-radius: 0 4px 4px 0;
		cursor: pointer;
	}
}

.menu {
	grid-area: menu;
	background-color: #ffffff;
	padding: 2rem;
	border-right: 1px solid #eee;

	h3 {
		color: var(--color-text);
		margin-bottom: 1rem;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		margin-bottom: 0.5rem;
	}

	a {
		color: #666;
		text-decoration: none;
		display: block;
		padding: 0.5rem;
		border-radius: 4px;
		transition: all 0.3s;
		&:hover,
		&:focus {
			background-color: #f8f9fa;
			color: var(--color-text);
		}
	}
}

.content {
	grid-area: content;
	overflow-y: auto;
	padding: 2rem;
}

.content-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 1.5rem;
}

.image-wraper {
	opacity: 0;
	transform: translateX(-25px);
	transition: all 0.7s;

	&.appear {
		transform: translateX(0px);
		opacity: 1;
	}
}

.image-container {
	background: white;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	aspect-ratio: 1;
	background-size: 100% 100%;
	border-radius: 8px;
}

.image-container:hover {
	transform: translateY(-5px);
}

.lazy-image {
	border-radius: 8px;
	width: 100%;
	border: 1px solid #ddd;
	object-fit: cover;
	aspect-ratio: 1;
}

/* Add product details */
.product-info {
	padding: 0rem 1rem;
	overflow: hidden;
}

.product-title {
	font-size: 1rem;
	color: var(--color-text);
	margin-bottom: 0.5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.product-price {
	font-weight: bold;
	color: var(--color-red);
}

/* Loading state */
.observer-target {
	padding: 2rem;
	text-align: center;
}

.loading {
	color: #666;
}

.error {
	color: var(--color-red);
	position: fixed;
	bottom: 0;
	background-color: #e7cccc;
	width: 100%;
	padding: 2rem;
	text-align: center;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
	.layout {
		grid-template-areas:
			"header"
			"menu"
			"content";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr;
	}

	.header {
		display: block;
	}
	.menu {
		border-right: none;
		border-bottom: 1px solid #eee;
		padding: 0 1rem;
		ul {
			display: flex;
		}
	}
}
